<!DOCTYPE html>
<html>
<head>
	<title>Hotlap - Admin</title>
</head>
<body>
	
<!--
	<select>
		<% _.forEach(games, function(game) { %>
			<option value="<%- game.gameid %>"><%- game.name %></option>
		<% }); %>
	</select>

	<select>
		<% _.forEach(cars, function(car) { %>
			<option value="<%- car.carid %>"><%- car.name %></option>
		<% }); %>
	</select>

	<select>
		<% _.forEach(tracks, function(track) { %>
			<option value="<%- track.trackid %>"><%- track.name %></option>
		<% }); %>
	</select>

	<select>
		<% _.forEach(players, function(player) { %>
			<option value="<%- player.playerid %>"><%- player.name %></option>
		<% }); %>
	</select>
-->
	<div id="player">
		<h3>
			Add new player
		</h3>
		<form action="/v1/player" method="post">
			<label for="player">player</label>
			<input name="player" type="text">
			<input type="submit">
		</form>
	</div>
	<div id="game">
		<h3>
			Add new game
		</h3>
		<form action="/v1/game" method="post">
			<label for="game">game</label>
			<input name="game" type="text">
			<input type="submit">
		</form>
	</div>
	<div id="track">
		<h3>
			Add new track
		</h3>
		<form action="/v1/track" method="post">
			<label for="gameid">game</label>
			<select name="game">
				<% _.forEach(games, function(game) { %>
					<option value="<%- game.gameid %>"><%- game.name %></option>
				<% }); %>
			</select>

			<label for="track">track</label>
			<input name="track" type="text">
			<input type="submit">
		</form>
	</div>
	<div id="car">
		<h3>
			Add new car
		</h3>
		<form action="/v1/car" method="post">
			<label for="game">game</label>
			<select name="game">
				<% _.forEach(games, function(game) { %>
					<option value="<%- game.gameid %>"><%- game.name %></option>
				<% }); %>
			</select>
			<label for="car">car</label>
			<input name="car" type="text">
			
			<input type="submit">
		</form>
	</div>
	<div id="leaderboard">
		<h3>
			Add new leaderboard
		</h3>
		<form action="/v1/leaderboard" method="post">
			<label for="game">game</label>
			<select name="game">
				<% _.forEach(games, function(game) { %>
					<option value="<%- game.gameid %>"><%- game.name %></option>
				<% }); %>
			</select>
			<select name="car">
				<% _.forEach(cars, function(car) { %>
					<option value="<%- car.carid %>"><%- car.name %></option>
				<% }); %>
			</select>
			<select name="track">
				<% _.forEach(tracks, function(track) { %>
					<option value="<%- track.trackid %>"><%- track.name %></option>
				<% }); %>
			</select>
			<input type="submit">
		</form>
	</div>
	
	<!--
	<div id="record">
		<h3>
			Add new record
		</h3>
		<form action="/v1/record" method="post">
			<label for="gameid">gameid</label>
			<input name="gameid" type="number">
			<label for="trackid">trackid</label>
			<input name="trackid" type="number">
			<label for="carid">carid</label>
			<input name="carid" type="number">
			<label for="playerid">playerid</label>
			<input name="playerid" type="number">
			<label for="time">time</label>
			<input name="time" type="integer">
			<input type="submit">
		</form>
	</div>
-->
<!-- Data dump -->	
	<pre class="players-list">
<%= JSON.stringify(players, null, 4) %>
	</pre>
	<pre class="games-list">
<%= JSON.stringify(games, null, 4) %>
	</pre>
	<pre class="tracks-list">
<%= JSON.stringify(tracks, null, 4) %>
	</pre>
	<pre class="cars-list">
<%= JSON.stringify(cars, null, 4) %>
	</pre>
	<pre class="records-list">
<%= JSON.stringify(records, null, 4) %>
	</pre>
	<pre class="leaderboards-list">
<%= JSON.stringify(leaderboards, null, 4) %>
	</pre>



</body>
</html>
